<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>DROGA</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<form method="post">
    {% csrf_token %}
    <div class="jumbotron text-left">
        <label><h4> Cargar_Droga </h4></label><br>

        <div class="form-group">

            <label>Nombre:</label><br>
            <input type="text" name="nombre"><br>

            <label> Contenido: </label> <br>
            <input type="number"  name="contenido"><br>

            <label>Marca:</label><br>
            <select name="marca_id" >
            {% for item in lista_marca %}
            <option value="{{item.id}}" > {{item.nombre}} </option>
            {% endfor %}
            </select>

            <button type="submit" class="btn btn-primary btn-xs">Aceptar</button><br>
        </div>

        {% if error %}
            <div class="alert alert-warning">
            <strong style="color:red;"> {{error}} No se puede duplicar Droga y Contenido </strong>
        {% endif %}
            </div>

    </div>
</form>


<label>Listado:</label><br>

<table>

   <thead>

      <style>
        table, th, td
        {
          border: 3px solid black;
          border-collapse: collapse;
        }
    </style>

   <tr>
   <td>Nombre</td> <td> Contenido </td> <td> Marca </td> <td> Modificar </td>
   </tr>
   </thead>

   <tbody>
            {% for item in lista_droga %}
        <tr>
           <td>
            {{ item.nombre }}
           </td>
           <td>
            {{ item.contenido }}
           </td>
           <td>
            {{ item.marca.nombre }}
           </td>

           <td>
                <a href="cargar_droga/{{item.id}}"> modificar </a>
           </td>
        </tr>
            {% endfor %}
   </tbody>

</table>

</body>
</html>
