<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>MARCA</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<form method="post">
    {% csrf_token %}
    <div class="jumbotron text-left">
        <label><h4> Cargar_Marcar </h4></label><br>

        <div class="form-group">

           <label>Marca:</label>
           <input type="text" name="nombre" >
           <button type="submit" class="btn btn-primary btn-xs">Aceptar</button><br><br>

        {% if error %}
            <div class="alert alert-warning">
            <strong style="color:red;"> {{error}} No se puede cargar la misma marca </strong>
            </div>
        {% endif %}
    </div>

</form>

    <ul>
    {% for item in lista_marca %}
       <li>{{ item.nombre }}</li>
    {% endfor %}
    </ul>

</body>
</html>