<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>DROGA</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<form method="POST">
    {% csrf_token %}
    <div class="jumbotron text-left">
        <label><h4> Modificar_Droga </h4></label><br>

        <div class="form-group">
            <label>Marca:</label><br>
            <select name="marca_id" >
               {% for item in lista_marca %}
               <option value="{{item.id}}" {% if item.id == droga.marca_id %} selected {% endif %}>
                   {{ item.nombre }}
               </option>
                    {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Nombre:</label><br>
            <input type="text" name="nombre" value="{{droga.nombre}}"><br>
        </div>

        <div class="form-group">
            <label>Contenido:</label> <br>
            <input type="number" name="contenido" value="{{droga.contenido}}"><br>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-xs">Modificar</button><br>
        </div>

        {% if error %}
        <h5 style="color:red;"> {{error}} </h5>
        {% endif %}

    </div>

</form>
</body>
</html>
